@model Movie

<div style="border:solid 2px black">
    <p>Title: @Model.Title</p>
    <p>Movie Id:@Model.Id</p>
    <p>Genre: @Model.Genre</p>
    <p>Run Time: @Model.RunTime</p>
    <p>Year: @Model.Year</p>
    <br />
</div>

<p>Are you sure you wish to delete the movie?</p>
<form asp-action="DeleteFromDb" asp-controller="Home" asp-route-id="@Model.Id">
    <input type="submit" value="Yes" />
</form>
<a asp-action="Index" asp-controller="Home"><button>No</button></a>