@model IEnumerable<Movie>


    <a asp-action="Create" asp-controller="Home"><p>Create New Movie</p></a>
@foreach (Movie m in Model)
{
    <div style="border:solid 2px black">
        <p><b>@m.Title</b></p>
        <p>Movie Id:@m.Id</p>
        <p>Genre: @m.Genre</p>
        <p>Run Time: @m.RunTime</p>
        <p>Year: @m.Year</p>
        
        <a asp-action="Details" asp-controller="Home" asp-route-id="@m.Id"><p>Details</p></a>
        <a asp-action="Delete" asp-controller="Home" asp-route-id="@m.Id"><p>Delete</p></a>
        <a asp-action="Edit" asp-controller="Home" asp-route-id="@m.Id"><p>Edit</p></a>
        <br />
    </div>

}